body {
  
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: darkgray;
  height: 94.5vh;
}
html{
  align-items: center;
  overflow: hidden;
 
  background-color: #2a2a2a;
  color: white;
}
.blur   {
  filter: blur(2px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.Dialogs{


  background-color: #00000087;
  border: 3px transparent solid;
  border-radius: 10px;
  max-width: 200px;
  min-width: 150px;
  position: absolute;
  top: 0px;
  text-align: center;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 15px;
  
  border-top-right-radius: 15px;
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover:not(.active) {
  background-color: #111;
}

.navBar .active {
  /* background-color: #04AA6D; */
  background-color: #454545e6;
  
}
.btn{
  /* text-align: center; */
  width: fit-content;
  padding: 25px;
  aspect-ratio: 16/9;

   /* background-color:#2a2a2a; */
   /* color: #ffffff; */
   background: #2a2a2a;
   box-shadow:  2.5px 2.5px 10px #111111,
                -2.5px -2.5px 10px #434343;
/* border-radius: 9999px; */
}
.btn:hover
/* .btn.selected */
{
  border: #5b5b5be0 1px solid;

  /* box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.8) inset,5px 5px 10px rgba(0, 0, 0, 0.25) inset ; */
  box-shadow:  2.5px 2.5px 10px #111111,
  -2.5px -2.5px 10px #434343;

/* border-radius: 9999px; */
}

.pageHolder .child{

  text-align: center;
  /* position: relative; */
  /* top: 5%; */
}

.pageHolder .NotCurrentPage{

  display: none;



}
.pageHolder{
   
  background-color: transparent;
  width: 100%;
  font-size: 125%;
  height: 97.5%;
}
.pageHolder .CurrentPage{


  /* position: relative;
  top: 0;
*/
  text-align: center; 
display: block;


/* height:95%;
  padding: 5px;
  border-radius: 15px;
  background-color: #3b3b3b; */

}

.Date{
  text-align: center;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  font-size: x-large;
  background-color: #111;
  padding:5px;
  padding-right: 7.5px;
  border-bottom-right-radius: 15px;
}
.Clock {
  text-align: center;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  font-size: x-large;
  background-color: #111;
  padding:5px;
  padding-left: 7.5px;
  border-bottom-left-radius: 15px;
  /* border-radius: 9999px; */
}
.TuyaBasic {
  display: inline-block;
  text-align: center;
  border-radius: 9999px;
  width: fit-content;
  padding: 1%;
}