body {
  
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: darkgray;
  height: 94.5vh;
}
html{
  align-items: center;
  overflow: hidden;
 
  background-color: #2a2a2a;
  color: white;
}
.blur   {
  filter: blur(2px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
.Dialogs{


  background-color: #00000087;
  border: 3px transparent solid;
  border-radius: 10px;
  max-width: 200px;
  min-width: 150px;
  position: absolute;
  top: 0px;
  text-align: center;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 15px;
  
  border-top-right-radius: 15px;
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover:not(.active) {
  background-color: #111;
}

.navBar .active {
  /* background-color: #04AA6D; */
  background-color: #454545e6;
  
}
.btn{
  /* text-align: center; */
  width: fit-content;
  padding: 25px;
  aspect-ratio: 16/9;

   /* background-color:#2a2a2a; */
   /* color: #ffffff; */
   background: #2a2a2a;
   box-shadow:  2.5px 2.5px 10px #111111,
                -2.5px -2.5px 10px #434343;
/* border-radius: 9999px; */
}
.btn:hover
/* .btn.selected */
{
  border: #5b5b5be0 1px solid;

  /* box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.8) inset,5px 5px 10px rgba(0, 0, 0, 0.25) inset ; */
  box-shadow:  2.5px 2.5px 10px #111111,
  -2.5px -2.5px 10px #434343;

/* border-radius: 9999px; */
}

.pageHolder .child{

  text-align: center;
  /* position: relative; */
  /* top: 5%; */
}

.pageHolder .NotCurrentPage{

  display: none;



}
.pageHolder{
   
  background-color: transparent;
  width: 100%;
  font-size: 125%;
  height: 97.5%;
}
.pageHolder .CurrentPage{


  /* position: relative;
  top: 0;
*/
  text-align: center; 
display: block;


/* height:95%;
  padding: 5px;
  border-radius: 15px;
  background-color: #3b3b3b; */

}

.Date{
  text-align: center;
  z-index: 95;
  position: absolute;
  top: 0;
  left: 0;
  font-size: x-large;
  background-color: #111;
  padding:5px;
  padding-right: 7.5px;
  border-bottom-right-radius: 15px;
}
.Clock {
  text-align: center;
  z-index: 95;
  position: absolute;
  top: 0;
  right: 0;
  font-size: x-large;
  background-color: #111;
  padding:5px;
  padding-left: 7.5px;
  border-bottom-left-radius: 15px;
  /* border-radius: 9999px; */
}
.TuyaBasic {
  display: inline-block;
  text-align: center;
  border-radius: 5%;
  width: fit-content;
  height: 15%;
  padding: 1%;
}
.IdleHolder{
  color:white;
padding: 15px;
  position:absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* background-color: black; */
z-index: 99;


justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 500%;

  /* border-radius: 50px; */
  background: #111111;

}
/* .OutOfFocus *{

 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 500%;
} */
.IdleHolder #IdleClock{
  padding: 20px;
  position: absolute;
  top: 0;
  /* border-radius: 23px;
  background: black;
  box-shadow: inset 26px 26px 53px #070707,
              inset -26px -26px 53px #1b1b1b,inset -26px -26px 53px #070707,
              inset 26px 26px 53px #1b1b1b; */
}
.IdleHolder #QoD{
  /* padding: 20px; */
  padding-bottom: 10px;
  position: absolute;
  bottom: 2%;
  left: 0;
  font-size: 50%;
  width: 25%;
  background-repeat: no-repeat;
background-size: 100% 100%;
border-top-right-radius: 25px;
  /* border-radius: 23px;
  background: black;
  box-shadow: inset 26px 26px 53px #070707,
              inset -26px -26px 53px #1b1b1b,inset -26px -26px 53px #070707,
              inset 26px 26px 53px #1b1b1b; */
}
.IdleHolder #QoD #QoDauthor{
 
  font-size: 75%;

  /* border-radius: 23px;
  background: black;
  box-shadow: inset 26px 26px 53px #070707,
              inset -26px -26px 53px #1b1b1b,inset -26px -26px 53px #070707,
              inset 26px 26px 53px #1b1b1b; */
}

